.project {
    /* background-image: linear-gradient(#0f1938, #000000);
    color: white; */
    color: white;
    background-image: linear-gradient(#282c34, #000000);
    border-top: 1px solid #4a4a4a;
}

.item {
    margin: 0 auto;
    width: 70%;
    border: 10px solid #a0a0a0;
    box-shadow: 0 0 100px #000000;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
    background: #0c0c0c26 !important;
}

.btn-next {
    background: transparent !important;
}